NVIDIA_API_KEY=your_nvidia_api_key

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=your_project_name

TAVILY_API_KEY=your_tavily_api_key